Week_05/spring/src/main/resources/META-INF/namespace/customstudent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="https://github.com/Rookie45"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="https://github.com/Rookie45"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="student">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required" />
            <xsd:attribute name="stuId" type="xsd:int" use="required"/>
            <xsd:attribute name="name" type="xsd:string" use="required"/>

        </xsd:complexType>
    </xsd:element>
</xsd:schema>
